*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body{
	display: flex;
	padding: 0px;
	margin: 0px;
}
#left{
	background-color:#CAD5D6 ;
}
.sec{
	width: 30vw;
	height:100vh;
}

button{
	width :25vw;
	height:10vh;
	border-radius: 10px;
	margin: 2.5vw;

}

.cl{
	width: 8vw;
	height: 15vh;
	display: inline-block;
	border-radius: 50%;
	margin-left:1.5vw;


}
.color{
	display: flex;
	flex-wrap: wrap;
}

.right{
	width: 70vw;
	height:100vh;
	background-color: #FFF9F9;
	display : grid;
	grid-template-columns:repeat(40, 1fr);
	grid-template-rows:repeat(20, 1fr);
	

}

.bx{
	border: 1px solid #CAD5D6;

}
